<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        	integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	</head>
	<body>
		<div>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				  <a class="navbar-brand" th:href="@{/home}" >SubiendoArchivos.com</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarText">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a th:href="@{/home}" class="nav-link" >Volver al menú</a>
				      </li>
				      <li class="nav-item">
				        <a th:href="@{/archivo/registros}" class="nav-link" >Archivos cargados</a>
				      </li>
				    </ul>
				  </div>
			</nav>
			<div >
				<form method="POST" enctype="multipart/form-data" th:action="@{/archivo/cargar}">
					  <div class="form-group">
						  	<div class="p-3 mb-2 bg-dark text-white font-weight-bold">
						   		<label for="cargarArchivo">Carga de archivos</label>
								<div th:if="${msj}">
									<h4 th:text="${msj}"/></h4>
								</div>
						    </div>
						    <div style="width:80%; align-content: center; padding-left: 40px">
							    <div class="custom-file" style="width:70%" >
							      	<input type="file" class="custom-file-input" name="archivoCargado" id="archivoCargado" required>
						      	    <label class="custom-file-label" for="archivoCargado">Seleccionar</label>			      	
							    </div>
						      	<div class="input-group-append" style="padding-top: 15px">
			    	  				<input  type="submit" value="Enviar" />
			    	  			</div>
		    	  			</div>
					  </div>
			  	</form>
			</div>
	       <script>
	            $('#archivoCargado').on('change',function(){
	                var fileName = $(this).val().replace("C:\\fakepath\\", "");
	                $(this).next('.custom-file-label').html(fileName);
	            })
        	</script>
	    </div>
	</body>
</html>